go 1.27.0

use (
	.
	./examples/grpcsvc
	./integrationtest/lifecycle
	./initrs/etcdinitr
	./initrs/etcdinitr/integrationtest
	./initrs/grpcinitr
	./initrs/grpcinitr/integrationtest
	./initrs/httpinitr
	./initrs/mongoinitr
	./initrs/mongoinitr/integrationtest
	./initrs/pginitr
	./initrs/prominitr
	./initrs/prominitr/integrationtest
	./initrs/rmqinitr
	./initrs/rmqinitr/integrationtest
	./initrs/zapinitr
)
